@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    padding: 8px;
    overflow: scroll;
}

#filename {
    /* 真ん中 */
    position: absolute;
    left: calc(25% - 120px);
    height: 38px;
    text-align: center;
    color: #fff;
    background-color: #3a3a3a;
    border: none;
}

#filename:focus {
    outline: none;
}

.dammyLink {
    color: #5A3D1F;
    cursor: pointer;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

div.adminmenu {
    text-align: right;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: #FF6633 1px dotted;
    font-size: 80%;
}

.footer {
    border-top: #FF6633 1px dotted;
    margin-top: 20px;
    padding-top: 5px;
    text-align: right;
    font-size: 80%;
    font-style: italic;
}

hr {
    color: #FFFFE3;
}

pre {
    border: #FF6633 1px solid;
    background-color: #FFFFE3;
    padding: 4px;
    margin-left: 20px;
}

blockquote {
    border: #FF6633 1px solid;
    padding: 4px;
    margin-left: 20px;
    font-style: italic;
}

h2 {
    border-left: #FF6633 8px solid;
    border-bottom: #FF6633 1px solid;
    border-right: #FF6633 1px solid;
    border-top: #FF6633 1px solid;
    background-color: #FFFFE3;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-left: 4pt;
    margin-bottom: 5px;
}

h3 {
    border-left: #FF6633 8px solid;
    border-top: #FF6633 3px solid;
    border-right: #FF6633 1px solid;
    border-bottom: #FF6633 1px solid;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-left: 3pt;
    margin-bottom: 5px;
}

h4 {
    border-left: #FF6633 8px solid;
    padding-left: 4px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-left: 2pt;
    margin-bottom: 5px;
}

div.body {
    padding-left: 5px;
}

div.body p {
    text-indent: 10px;
    line-height: 120%;
    margin-top: 10px;
    margin-bottom: 20px;
}

div.body blockquote p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 0px;
}

table {
    border: #FF6633 2px solid;
}

th {
    border: #FF6633 1px solid;
    background-color: #FFFFE3;
}

td {
    border: #FF6633 1px solid;
}

A:link {
    color: #5A3D1F;
    text-decoration: none;
}

A:visited {
    color: #5A3D1F;
    text-decoration: none;
}

A:hover {
    color: #000000;
    text-decoration: underline;
}

dt {
    border-bottom: #FF6633 1px dotted;
    margin-bottom: 5px;
    font-weight: bold;
}

dd {
    margin-left: 20pt;
    margin-bottom: 5pt;
}

div.main {
    margin-left: 150px;
}

div.sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    font-size: x-small;
    padding: 2pt;
    border-right: #5A3D1F 1px solid;
    border-bottom: #5A3D1F 1px solid;
    color: #000000;
    background-color: #FFFFE3;
    word-break: break-all;
}

div.comment {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFE3;
    border: #5A3D1F 1px solid;
    font-size: 80%;
}

div.comment p {
    margin-top: 5pt;
    margin-bottom: 5pt;
}

div.sidebar ul,
div.sidebar li {
    padding-left: 0pt;
    margin-left: 10pt;
}

div.sidebar h2,
div.sidebar h3,
div.sidebar h4 {
    margin-top: 0px;
}

@media print {
    div.sidebar {
        display: none;
    }

    div.main {
        margin-left: 0px;
    }

    div.adminmenu {
        display: none;
    }

    div.footer {
        display: none;
    }

    h1 {
        display: none;
    }

    div.header {
        display: none;
    }

    div.comment {
        display: none;
    }

    a.partedit {
        display: none;
    }
}

/* エラーメッセージ */
.error {
    color: #FF0000;
    font-weight: bold;
}

/* 存在しないWikiページ */
span.nopage {
    background-color: #FFFF88;
}

/* Wikiページへのアンカ */
a.wikipage:link {
    text-decoration: underline;
}

a.wikipage:visited {
    text-decoration: underline;
}

a.wikipage:hover {
    background-color: #DDDDDD;
    text-decoration: underline;
}

/* parteditプラグイン */
div.partedit {
    text-align: right;
    font-size: 80%;
}

/* calendarプラグイン */
td.today {
    background-color: #FF8888;
}

td.have {
    font-weight: bold;
}

.calendar td {
    text-align: right;
}

/* Colorized Diff */
ins.diff {
    color: #FF0000;
}

del.diff {
    color: #0000FF;
}

/* pre wrapping */
pre {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Mozilla */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE 5.5+ */
}

/* Underlined H4 */
h4 {
    border-bottom: 1px solid #FF6633;
}

/* 編集画面のテキストエリアの幅を拡大 */
textarea.edit {
    width: 100%;
}

strong {
    color: #FF6700;
}